<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chat.bitchat">

    <application
        android:label="bitchat"
        android:icon="@mipmap/ic_launcher">
        <activity android:name="chat.bitchat.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
